h4 {
    margin: 0;
}
.w-full {
    width: 100%;
}
.w-half {
    width: 50%;
    display: flex;
    flex-direction: row;
}
.bpsuName{
    font-size: 1.2rem;
    font-weight: bold;
    color: #ae0505;
}
.yonderName{
    font-size: 1rem;
    font-weight: bold;
}
.page-break {
    page-break-before: always;
}
.pbenName{
    font-weight: 500;
    font-size: 13px;
    color: #ae0505;
}
.margin-top {
    margin-top: 1.25rem;
}
.footer {
    font-size: 0.875rem;
    padding: 1rem;
    background-color: rgb(241 245 249);
}
table {
    width: 100%;
    border-spacing: 0;
}
table.products {
    font-size: 0.875rem;
}
table.products tr {
    background-color: #003c53ff;
}
table.products th {
    color: #ffffff;
    padding: 0.5rem;
}
/* individual row styles are handled by tbody striping */
table.products tbody tr:nth-child(odd) {
    background-color: #f7fafc; /* light */
}
table.products tbody tr:nth-child(even) {
    background-color: #e6eef8; /* slightly darker */
}
table.products tbody tr td {
    padding: 0.5rem;
    text-align: center;
}
td.name {
  max-width: 250px;
  overflow-wrap: break-word;
  white-space: normal;
}
.total {
    text-align: right;
    margin-top: 1rem;
    font-size: 0.875rem;
}
table.products {
    border-collapse: collapse;
    width: 100%;
}
.products tr.last-of-date td {
    border-bottom: 1px solid #6e6e6e !important;
}