* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100px !important;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    background-color: white;
    border-bottom: solid rgb(0, 0, 0) 2px;
}
.webName {
    position: absolute;
    flex: 0.7;
    font-size: 2rem;
    left: 5%;
    top: 25%;
    color: #ae0505;
}
.vertical-line {
    border-left: 1px solid grey;
    height: 60px;
    margin-left: -3px;
    top: 0;
}
/* container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    border: solid red 1px;
}
.top{
    flex: 0.1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 100px;
    align-items: center;
    width: 100%;
}
.bottom{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.image-placeholder{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
}
.image-placeholder img{
    width: 164px;
    height: 164px;
    border-radius: 50%;
}
.image-button{
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.profile-name{
    display: flex;
    height: 100px;
    justify-content: center;
    gap: 1rem;
}
.div-firstname,
.div-middlename,
.div-lastname{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 0.5rem;
}
.div-firstname input,
.div-middlename input,
.div-lastname input{
    height: 46px;
    width: 256px;
    font-size: 20px;
    padding: 5px;
    border-radius: 7px;
}
.profile-info{
    display: flex;
    height: 100px;
    justify-content: center;
    gap: 1rem;
}
.div-contactNum,
.div-gender{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 0.5rem;
}
.div-gender select{
    height: 46px;
    width: 256px;
    font-size: 20px;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
    border-width: 2px;
    border-color:light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.div-contactNum input{
    height: 46px;
    width: 256px;
    font-size: 20px;
    padding: 5px;
    border-radius: 7px;
}
.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-direction: column;
    gap: 1rem;
}
.button-group button{
    width: 200px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    background-color: white;
    height: 50px;

}
.button-group button:hover{
    background: rgb(174,5,5);
    background: linear-gradient(180deg, rgba(174,5,5,1) 0%, rgba(72,2,2,1) 100%);
    color: white;
}
.image-button form{
    display: flex;
    height: 25px;
    gap: 1rem;
    flex-direction: row;
    button{
        width: 150px;
        background-color: white;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
}

#cropper-container {
    max-height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

#image-to-crop {
    max-width: 100%;
    display: block;
}

.cropper-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.cropper-buttons button {
    padding: 8px 16px;
    cursor: pointer;
    width: 90px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
}
.crop-button-crop:hover
,.crop-button-cancel:hover {
    background: rgb(174,5,5);
    background: linear-gradient(180deg, rgba(174,5,5,1) 0%, rgba(72,2,2,1) 100%);
    color: white;
}
/* TABS */
.tab-buttons {
    display: flex;
    margin-top: 2rem;
}
.tab-buttons button {
    background-color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
}
#tabBtnPersonal,
#tabBtnAccountInfo{
    padding-inline: 1rem;
    border-top: 2px solid black;
    border-inline: 2px solid black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.personalInfo{
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 1100px;
    padding-top: 1rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.tab-buttons .inactive-tab {
    background-color: gray;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content .active-tab-content {
    display: block;
}
#personalInfo,
#tab-other {
    display: none;
}

.active-tab-content {
    display: block !important;
}
.personalInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.acountInfos{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.div-email input,
.div-password input ,
.div-confirmpassword input{
    height: 46px;
    width: 400px;
    font-size: 20px;
    padding: 5px;
    border-radius: 7px;
}
.div-email label,
.div-password label ,
.div-confirmpassword label{
    font-size: 20px;
}
.div-email,
.div-password,
.div-confirmpassword {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; 
    width: 100%;
    gap: 0.5rem;
}