*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent body from scrolling */
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 124px;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    background-color: white;
    border-bottom: solid rgb(0, 0, 0) 2px;
}
.menu-button{
    display: none;
}
.webName{
    position: absolute;
    flex:0.7;
    font-size: 2rem;
    left: 5%;
    color: #AE0505;
}
.nav-search{
    width: 33.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: solid black 2px;
    padding-right: 0.3rem;
    padding-left: 1rem;
    border-radius: 46px;
    height: 3.3rem;
    align-items: center;
}
nav{
    display: flex;
    width: 100%;
}
.mobile-only {
    display: none;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
/* para to sa isang sort (mobile)*/
.filter-icon {
    display: none;
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
  }
nav button{
    background-color: #0D62FF;
    color: white;
    border: none;
    width: 7rem;
    height: 2.5rem;
    border-radius: 20px;
}
.nav-search input{
    width: 100%;
    font-size: 1.25rem;
    border: none;
}
input:focus {
    outline: none;  
    border: none;   
    box-shadow: none;
}
.vertical-line{
    border-left: 1px solid grey;
    height: 90px;
    margin-left: -3px;
    top: 0;
}
.left-nav {
    position: fixed;
    right: 0;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

/* Main Page*/
.container{
    display: flex;
    height: calc(100vh - 124px); 
    margin-top: 124px;
}
.left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: sticky;
    height: 100%;
    align-self: flex-start;
    border: #AE0505 solid 1px;
}
.right{
    flex: 1;
    width: 100%;
    padding-inline:3% ;
    border: #AE0505 solid 1px;
}